/*
.hide3到.hide30 ：小于多少百px时才显示
.show3到.show30 ：大于多少百px时才显示

.gt3-1box>.box到.gt24-24box>.box ：大于多少百px时，每个子.box占几分之一
.gt-1到.gt-24 ：固定占多少百px
.gt--1到.gt--24 ：固定占100%-多少百px
.gt3-1-1到.gt12-12-11 ：大于多少百px时，占几分之几
*/
@media (min-width:300px){
	.hide3{display:none;}
	
	.gt3-1box>.box{float:left;width:100%;}
	.gt3-2box>.box{float:left;width:50%;}
	.gt3-3box>.box{float:left;width:33.3333333333333%;}
	.gt3-4box>.box{float:left;width:25%;}
	.gt3-5box>.box{float:left;width:20%;}
	.gt3-6box>.box{float:left;width:16.6666666666666%;}
	.gt3-7box>.box{float:left;width:14.2857142857142%;}
	.gt3-8box>.box{float:left;width:12.5%;}
	.gt3-9box>.box{float:left;width:11.1111111111111%;}
	.gt3-10box>.box{float:left;width:10%;}
	.gt3-12box>.box{float:left;width:8.33333333333333%;}
	
	.gt-1,.box>.gt-1,.gt--2,.box>.gt--2{float:left;width:33.3333333333333%;}
	.gt-2,.box>.gt-2,.gt--1,.box>.gt--1{float:left;width:66.6666666666666%;}
	.gt-3,.box>.gt-3,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt3-1-1,.box>.gt3-1-1{float:left;width:100%;}
	.gt3-2-1,.box>.gt3-2-1{float:left;width:50%;}
	.gt3-3-1,.box>.gt3-3-1{float:left;width:33.3333333333333%;}
	.gt3-3-2,.box>.gt3-3-2{float:left;width:66.6666666666666%;}
	.gt3-4-1,.box>.gt3-4-1{float:left;width:25%;}
	.gt3-4-3,.box>.gt3-4-3{float:left;width:75%;}
	.gt3-5-1,.box>.gt3-5-1{float:left;width:20%;}
	.gt3-5-2,.box>.gt3-5-2{float:left;width:40%;}
	.gt3-5-3,.box>.gt3-5-3{float:left;width:60%;}
	.gt3-5-4,.box>.gt3-5-4{float:left;width:80%;}
	.gt3-6-1,.box>.gt3-6-1{float:left;width:16.6666666666666%;}
	.gt3-6-5,.box>.gt3-6-5{float:left;width:83.3333333333333%;}
	.gt3-7-1,.box>.gt3-7-1{float:left;width:14.2857142857142%;}
	.gt3-7-2,.box>.gt3-7-2{float:left;width:28.5714285714285%;}
	.gt3-7-3,.box>.gt3-7-3{float:left;width:42.8571428571428%;}
	.gt3-7-4,.box>.gt3-7-4{float:left;width:57.1428571428571%;}
	.gt3-7-5,.box>.gt3-7-5{float:left;width:71.4285714285714%;}
	.gt3-7-6,.box>.gt3-7-6{float:left;width:85.7142857142857%;}
	.gt3-8-1,.box>.gt3-8-1{float:left;width:12.5%;}
	.gt3-8-3,.box>.gt3-8-3{float:left;width:37.5%;}
	.gt3-8-5,.box>.gt3-8-5{float:left;width:62.5%;}
	.gt3-8-7,.box>.gt3-8-7{float:left;width:87.5%;}
	.gt3-9-1,.box>.gt3-9-1{float:left;width:11.1111111111111%;}
	.gt3-9-2,.box>.gt3-9-2{float:left;width:22.2222222222222%;}
	.gt3-9-4,.box>.gt3-9-4{float:left;width:44.4444444444444%;}
	.gt3-9-5,.box>.gt3-9-5{float:left;width:55.5555555555555%;}
	.gt3-9-7,.box>.gt3-9-7{float:left;width:77.7777777777777%;}
	.gt3-9-8,.box>.gt3-9-8{float:left;width:88.8888888888888%;}
	.gt3-10-1,.box>.gt3-10-1{float:left;width:10%;}
	.gt3-10-3,.box>.gt3-10-3{float:left;width:30%;}
	.gt3-10-7,.box>.gt3-10-7{float:left;width:70%;}
	.gt3-10-9,.box>.gt3-10-9{float:left;width:90%;}
	.gt3-12-1,.box>.gt3-12-1{float:left;width:8.33333333333333%;}
	.gt3-12-5,.box>.gt3-12-5{float:left;width:41.6666666666666%;}
	.gt3-12-7,.box>.gt3-12-7{float:left;width:58.3333333333333%;}
	.gt3-12-11,.box>.gt3-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:400px){
	.hide4{display:none;}
	
	.gt4-1box>.box{float:left;width:100%;}
	.gt4-2box>.box{float:left;width:50%;}
	.gt4-3box>.box{float:left;width:33.3333333333333%;}
	.gt4-4box>.box{float:left;width:25%;}
	.gt4-5box>.box{float:left;width:20%;}
	.gt4-6box>.box{float:left;width:16.6666666666666%;}
	.gt4-7box>.box{float:left;width:14.2857142857142%;}
	.gt4-8box>.box{float:left;width:12.5%;}
	.gt4-9box>.box{float:left;width:11.1111111111111%;}
	.gt4-10box>.box{float:left;width:10%;}
	.gt4-12box>.box{float:left;width:8.33333333333333%;}
	
	.gt-1,.box>.gt-1,.gt--3,.box>.gt--3{float:left;width:25%;}
	.gt-2,.box>.gt-2,.gt--2,.box>.gt--2{float:left;width:50%;}
	.gt-3,.box>.gt-3,.gt--1,.box>.gt--1{float:left;width:75%;}
	.gt-4,.box>.gt-4,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt4-1-1,.box>.gt4-1-1{float:left;width:100%;}
	.gt4-2-1,.box>.gt4-2-1{float:left;width:50%;}
	.gt4-3-1,.box>.gt4-3-1{float:left;width:33.3333333333333%;}
	.gt4-3-2,.box>.gt4-3-2{float:left;width:66.6666666666666%;}
	.gt4-4-1,.box>.gt4-4-1{float:left;width:25%;}
	.gt4-4-3,.box>.gt4-4-3{float:left;width:75%;}
	.gt4-5-1,.box>.gt4-5-1{float:left;width:20%;}
	.gt4-5-2,.box>.gt4-5-2{float:left;width:40%;}
	.gt4-5-3,.box>.gt4-5-3{float:left;width:60%;}
	.gt4-5-4,.box>.gt4-5-4{float:left;width:80%;}
	.gt4-6-1,.box>.gt4-6-1{float:left;width:16.6666666666666%;}
	.gt4-6-5,.box>.gt4-6-5{float:left;width:83.3333333333333%;}
	.gt4-7-1,.box>.gt4-7-1{float:left;width:14.2857142857142%;}
	.gt4-7-2,.box>.gt4-7-2{float:left;width:28.5714285714285%;}
	.gt4-7-3,.box>.gt4-7-3{float:left;width:42.8571428571428%;}
	.gt4-7-4,.box>.gt4-7-4{float:left;width:57.1428571428571%;}
	.gt4-7-5,.box>.gt4-7-5{float:left;width:71.4285714285714%;}
	.gt4-7-6,.box>.gt4-7-6{float:left;width:85.7142857142857%;}
	.gt4-8-1,.box>.gt4-8-1{float:left;width:12.5%;}
	.gt4-8-3,.box>.gt4-8-3{float:left;width:37.5%;}
	.gt4-8-5,.box>.gt4-8-5{float:left;width:62.5%;}
	.gt4-8-7,.box>.gt4-8-7{float:left;width:87.5%;}
	.gt4-9-1,.box>.gt4-9-1{float:left;width:11.1111111111111%;}
	.gt4-9-2,.box>.gt4-9-2{float:left;width:22.2222222222222%;}
	.gt4-9-4,.box>.gt4-9-4{float:left;width:44.4444444444444%;}
	.gt4-9-5,.box>.gt4-9-5{float:left;width:55.5555555555555%;}
	.gt4-9-7,.box>.gt4-9-7{float:left;width:77.7777777777777%;}
	.gt4-9-8,.box>.gt4-9-8{float:left;width:88.8888888888888%;}
	.gt4-10-1,.box>.gt4-10-1{float:left;width:10%;}
	.gt4-10-3,.box>.gt4-10-3{float:left;width:30%;}
	.gt4-10-7,.box>.gt4-10-7{float:left;width:70%;}
	.gt4-10-9,.box>.gt4-10-9{float:left;width:90%;}
	.gt4-12-1,.box>.gt4-12-1{float:left;width:8.33333333333333%;}
	.gt4-12-5,.box>.gt4-12-5{float:left;width:41.6666666666666%;}
	.gt4-12-7,.box>.gt4-12-7{float:left;width:58.3333333333333%;}
	.gt4-12-11,.box>.gt4-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:500px){
	.hide5{display:none;}
	
	.gt5-1box>.box{float:left;width:100%;}
	.gt5-2box>.box{float:left;width:50%;}
	.gt5-3box>.box{float:left;width:33.3333333333333%;}
	.gt5-4box>.box{float:left;width:25%;}
	.gt5-5box>.box{float:left;width:20%;}
	.gt5-6box>.box{float:left;width:16.6666666666666%;}
	.gt5-7box>.box{float:left;width:14.2857142857142%;}
	.gt5-8box>.box{float:left;width:12.5%;}
	.gt5-9box>.box{float:left;width:11.1111111111111%;}
	.gt5-10box>.box{float:left;width:10%;}
	.gt5-12box>.box{float:left;width:8.33333333333333%;}
	
	.gt-1,.box>.gt-1,.gt--4,.box>.gt--4{float:left;width:20%;}
	.gt-2,.box>.gt-2,.gt--3,.box>.gt--3{float:left;width:40%;}
	.gt-3,.box>.gt-3,.gt--2,.box>.gt--2{float:left;width:60%;}
	.gt-4,.box>.gt-4,.gt--1,.box>.gt--1{float:left;width:80%;}
	.gt-5,.box>.gt-5,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt5-1-1,.box>.gt5-1-1{float:left;width:100%;}
	.gt5-2-1,.box>.gt5-2-1{float:left;width:50%;}
	.gt5-3-1,.box>.gt5-3-1{float:left;width:33.3333333333333%;}
	.gt5-3-2,.box>.gt5-3-2{float:left;width:66.6666666666666%;}
	.gt5-4-1,.box>.gt5-4-1{float:left;width:25%;}
	.gt5-4-3,.box>.gt5-4-3{float:left;width:75%;}
	.gt5-5-1,.box>.gt5-5-1{float:left;width:20%;}
	.gt5-5-2,.box>.gt5-5-2{float:left;width:40%;}
	.gt5-5-3,.box>.gt5-5-3{float:left;width:60%;}
	.gt5-5-4,.box>.gt5-5-4{float:left;width:80%;}
	.gt5-6-1,.box>.gt5-6-1{float:left;width:16.6666666666666%;}
	.gt5-6-5,.box>.gt5-6-5{float:left;width:83.3333333333333%;}
	.gt5-7-1,.box>.gt5-7-1{float:left;width:14.2857142857142%;}
	.gt5-7-2,.box>.gt5-7-2{float:left;width:28.5714285714285%;}
	.gt5-7-3,.box>.gt5-7-3{float:left;width:42.8571428571428%;}
	.gt5-7-4,.box>.gt5-7-4{float:left;width:57.1428571428571%;}
	.gt5-7-5,.box>.gt5-7-5{float:left;width:71.4285714285714%;}
	.gt5-7-6,.box>.gt5-7-6{float:left;width:85.7142857142857%;}
	.gt5-8-1,.box>.gt5-8-1{float:left;width:12.5%;}
	.gt5-8-3,.box>.gt5-8-3{float:left;width:37.5%;}
	.gt5-8-5,.box>.gt5-8-5{float:left;width:62.5%;}
	.gt5-8-7,.box>.gt5-8-7{float:left;width:87.5%;}
	.gt5-9-1,.box>.gt5-9-1{float:left;width:11.1111111111111%;}
	.gt5-9-2,.box>.gt5-9-2{float:left;width:22.2222222222222%;}
	.gt5-9-4,.box>.gt5-9-4{float:left;width:44.4444444444444%;}
	.gt5-9-5,.box>.gt5-9-5{float:left;width:55.5555555555555%;}
	.gt5-9-7,.box>.gt5-9-7{float:left;width:77.7777777777777%;}
	.gt5-9-8,.box>.gt5-9-8{float:left;width:88.8888888888888%;}
	.gt5-10-1,.box>.gt5-10-1{float:left;width:10%;}
	.gt5-10-3,.box>.gt5-10-3{float:left;width:30%;}
	.gt5-10-7,.box>.gt5-10-7{float:left;width:70%;}
	.gt5-10-9,.box>.gt5-10-9{float:left;width:90%;}
	.gt5-12-1,.box>.gt5-12-1{float:left;width:8.33333333333333%;}
	.gt5-12-5,.box>.gt5-12-5{float:left;width:41.6666666666666%;}
	.gt5-12-7,.box>.gt5-12-7{float:left;width:58.3333333333333%;}
	.gt5-12-11,.box>.gt5-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:600px){
	.hide6{display:none;}
	
	.gt6-1box>.box{float:left;width:100%;}
	.gt6-2box>.box{float:left;width:50%;}
	.gt6-3box>.box{float:left;width:33.3333333333333%;}
	.gt6-4box>.box{float:left;width:25%;}
	.gt6-5box>.box{float:left;width:20%;}
	.gt6-6box>.box{float:left;width:16.6666666666666%;}
	.gt6-7box>.box{float:left;width:14.2857142857142%;}
	.gt6-8box>.box{float:left;width:12.5%;}
	.gt6-9box>.box{float:left;width:11.1111111111111%;}
	.gt6-10box>.box{float:left;width:10%;}
	.gt6-12box>.box{float:left;width:8.33333333333333%;}
	
	.gt-1,.box>.gt-1,.gt--5,.box>.gt--5{float:left;width:16.6666666666666%;}
	.gt-2,.box>.gt-2,.gt--4,.box>.gt--4{float:left;width:33.3333333333333%;}
	.gt-3,.box>.gt-3,.gt--3,.box>.gt--3{float:left;width:50%;}
	.gt-4,.box>.gt-4,.gt--2,.box>.gt--2{float:left;width:66.6666666666666%;}
	.gt-5,.box>.gt-5,.gt--1,.box>.gt--1{float:left;width:83.3333333333333%;}
	.gt-6,.box>.gt-6,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt6-1-1,.box>.gt6-1-1{float:left;width:100%;}
	.gt6-2-1,.box>.gt6-2-1{float:left;width:50%;}
	.gt6-3-1,.box>.gt6-3-1{float:left;width:33.3333333333333%;}
	.gt6-3-2,.box>.gt6-3-2{float:left;width:66.6666666666666%;}
	.gt6-4-1,.box>.gt6-4-1{float:left;width:25%;}
	.gt6-4-3,.box>.gt6-4-3{float:left;width:75%;}
	.gt6-5-1,.box>.gt6-5-1{float:left;width:20%;}
	.gt6-5-2,.box>.gt6-5-2{float:left;width:40%;}
	.gt6-5-3,.box>.gt6-5-3{float:left;width:60%;}
	.gt6-5-4,.box>.gt6-5-4{float:left;width:80%;}
	.gt6-6-1,.box>.gt6-6-1{float:left;width:16.6666666666666%;}
	.gt6-6-5,.box>.gt6-6-5{float:left;width:83.3333333333333%;}
	.gt6-7-1,.box>.gt6-7-1{float:left;width:14.2857142857142%;}
	.gt6-7-2,.box>.gt6-7-2{float:left;width:28.5714285714285%;}
	.gt6-7-3,.box>.gt6-7-3{float:left;width:42.8571428571428%;}
	.gt6-7-4,.box>.gt6-7-4{float:left;width:57.1428571428571%;}
	.gt6-7-5,.box>.gt6-7-5{float:left;width:71.4285714285714%;}
	.gt6-7-6,.box>.gt6-7-6{float:left;width:85.7142857142857%;}
	.gt6-8-1,.box>.gt6-8-1{float:left;width:12.5%;}
	.gt6-8-3,.box>.gt6-8-3{float:left;width:37.5%;}
	.gt6-8-5,.box>.gt6-8-5{float:left;width:62.5%;}
	.gt6-8-7,.box>.gt6-8-7{float:left;width:87.5%;}
	.gt6-9-1,.box>.gt6-9-1{float:left;width:11.1111111111111%;}
	.gt6-9-2,.box>.gt6-9-2{float:left;width:22.2222222222222%;}
	.gt6-9-4,.box>.gt6-9-4{float:left;width:44.4444444444444%;}
	.gt6-9-5,.box>.gt6-9-5{float:left;width:55.5555555555555%;}
	.gt6-9-7,.box>.gt6-9-7{float:left;width:77.7777777777777%;}
	.gt6-9-8,.box>.gt6-9-8{float:left;width:88.8888888888888%;}
	.gt6-10-1,.box>.gt6-10-1{float:left;width:10%;}
	.gt6-10-3,.box>.gt6-10-3{float:left;width:30%;}
	.gt6-10-7,.box>.gt6-10-7{float:left;width:70%;}
	.gt6-10-9,.box>.gt6-10-9{float:left;width:90%;}
	.gt6-12-1,.box>.gt6-12-1{float:left;width:8.33333333333333%;}
	.gt6-12-5,.box>.gt6-12-5{float:left;width:41.6666666666666%;}
	.gt6-12-7,.box>.gt6-12-7{float:left;width:58.3333333333333%;}
	.gt6-12-11,.box>.gt6-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:700px){
	.hide7{display:none;}
	
	.gt7-1box>.box{float:left;width:100%;}
	.gt7-2box>.box{float:left;width:50%;}
	.gt7-3box>.box{float:left;width:33.3333333333333%;}
	.gt7-4box>.box{float:left;width:25%;}
	.gt7-5box>.box{float:left;width:20%;}
	.gt7-6box>.box{float:left;width:16.6666666666666%;}
	.gt7-7box>.box{float:left;width:14.2857142857142%;}
	.gt7-8box>.box{float:left;width:12.5%;}
	.gt7-9box>.box{float:left;width:11.1111111111111%;}
	.gt7-10box>.box{float:left;width:10%;}
	.gt7-12box>.box{float:left;width:8.33333333333333%;}
	.gt7-14box>.box{float:left;width:7.14285714285714%;}
	
	.gt-1,.box>.gt-1,.gt--6,.box>.gt--6{float:left;width:14.2857142857142%;}
	.gt-2,.box>.gt-2,.gt--5,.box>.gt--5{float:left;width:28.5714285714285%;}
	.gt-3,.box>.gt-3,.gt--4,.box>.gt--4{float:left;width:42.8571428571428%;}
	.gt-4,.box>.gt-4,.gt--3,.box>.gt--3{float:left;width:57.1428571428571%;}
	.gt-5,.box>.gt-5,.gt--2,.box>.gt--2{float:left;width:71.4285714285714%;}
	.gt-6,.box>.gt-6,.gt--1,.box>.gt--1{float:left;width:85.7142857142857%;}
	.gt-7,.box>.gt-7,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt7-1-1,.box>.gt7-1-1{float:left;width:100%;}
	.gt7-2-1,.box>.gt7-2-1{float:left;width:50%;}
	.gt7-3-1,.box>.gt7-3-1{float:left;width:33.3333333333333%;}
	.gt7-3-2,.box>.gt7-3-2{float:left;width:66.6666666666666%;}
	.gt7-4-1,.box>.gt7-4-1{float:left;width:25%;}
	.gt7-4-3,.box>.gt7-4-3{float:left;width:75%;}
	.gt7-5-1,.box>.gt7-5-1{float:left;width:20%;}
	.gt7-5-2,.box>.gt7-5-2{float:left;width:40%;}
	.gt7-5-3,.box>.gt7-5-3{float:left;width:60%;}
	.gt7-5-4,.box>.gt7-5-4{float:left;width:80%;}
	.gt7-6-1,.box>.gt7-6-1{float:left;width:16.6666666666666%;}
	.gt7-6-5,.box>.gt7-6-5{float:left;width:83.3333333333333%;}
	.gt7-7-1,.box>.gt7-7-1{float:left;width:14.2857142857142%;}
	.gt7-7-2,.box>.gt7-7-2{float:left;width:28.5714285714285%;}
	.gt7-7-3,.box>.gt7-7-3{float:left;width:42.8571428571428%;}
	.gt7-7-4,.box>.gt7-7-4{float:left;width:57.1428571428571%;}
	.gt7-7-5,.box>.gt7-7-5{float:left;width:71.4285714285714%;}
	.gt7-7-6,.box>.gt7-7-6{float:left;width:85.7142857142857%;}
	.gt7-8-1,.box>.gt7-8-1{float:left;width:12.5%;}
	.gt7-8-3,.box>.gt7-8-3{float:left;width:37.5%;}
	.gt7-8-5,.box>.gt7-8-5{float:left;width:62.5%;}
	.gt7-8-7,.box>.gt7-8-7{float:left;width:87.5%;}
	.gt7-9-1,.box>.gt7-9-1{float:left;width:11.1111111111111%;}
	.gt7-9-2,.box>.gt7-9-2{float:left;width:22.2222222222222%;}
	.gt7-9-4,.box>.gt7-9-4{float:left;width:44.4444444444444%;}
	.gt7-9-5,.box>.gt7-9-5{float:left;width:55.5555555555555%;}
	.gt7-9-7,.box>.gt7-9-7{float:left;width:77.7777777777777%;}
	.gt7-9-8,.box>.gt7-9-8{float:left;width:88.8888888888888%;}
	.gt7-10-1,.box>.gt7-10-1{float:left;width:10%;}
	.gt7-10-3,.box>.gt7-10-3{float:left;width:30%;}
	.gt7-10-7,.box>.gt7-10-7{float:left;width:70%;}
	.gt7-10-9,.box>.gt7-10-9{float:left;width:90%;}
	.gt7-12-1,.box>.gt7-12-1{float:left;width:8.33333333333333%;}
	.gt7-12-5,.box>.gt7-12-5{float:left;width:41.6666666666666%;}
	.gt7-12-7,.box>.gt7-12-7{float:left;width:58.3333333333333%;}
	.gt7-12-11,.box>.gt7-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:800px){
	.hide8{display:none;}
	
	.gt8-1box>.box{float:left;width:100%;}
	.gt8-2box>.box{float:left;width:50%;}
	.gt8-3box>.box{float:left;width:33.3333333333333%;}
	.gt8-4box>.box{float:left;width:25%;}
	.gt8-5box>.box{float:left;width:20%;}
	.gt8-6box>.box{float:left;width:16.6666666666666%;}
	.gt8-7box>.box{float:left;width:14.2857142857142%;}
	.gt8-8box>.box{float:left;width:12.5%;}
	.gt8-9box>.box{float:left;width:11.1111111111111%;}
	.gt8-10box>.box{float:left;width:10%;}
	.gt8-12box>.box{float:left;width:8.33333333333333%;}
	.gt8-14box>.box{float:left;width:7.14285714285714%;}
	.gt8-16box>.box{float:left;width:6.25%;}
	
	.gt-1,.box>.gt-1,.gt--7,.box>.gt--7{float:left;width:12.5%;}
	.gt-2,.box>.gt-2,.gt--6,.box>.gt--6{float:left;width:25%;}
	.gt-3,.box>.gt-3,.gt--5,.box>.gt--5{float:left;width:37.5%;}
	.gt-4,.box>.gt-4,.gt--4,.box>.gt--4{float:left;width:50%;}
	.gt-5,.box>.gt-5,.gt--3,.box>.gt--3{float:left;width:62.5%;}
	.gt-6,.box>.gt-6,.gt--2,.box>.gt--2{float:left;width:75%;}
	.gt-7,.box>.gt-7,.gt--1,.box>.gt--1{float:left;width:87.5%;}
	.gt-8,.box>.gt-8,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt8-1-1,.box>.gt8-1-1{float:left;width:100%;}
	.gt8-2-1,.box>.gt8-2-1{float:left;width:50%;}
	.gt8-3-1,.box>.gt8-3-1{float:left;width:33.3333333333333%;}
	.gt8-3-2,.box>.gt8-3-2{float:left;width:66.6666666666666%;}
	.gt8-4-1,.box>.gt8-4-1{float:left;width:25%;}
	.gt8-4-3,.box>.gt8-4-3{float:left;width:75%;}
	.gt8-5-1,.box>.gt8-5-1{float:left;width:20%;}
	.gt8-5-2,.box>.gt8-5-2{float:left;width:40%;}
	.gt8-5-3,.box>.gt8-5-3{float:left;width:60%;}
	.gt8-5-4,.box>.gt8-5-4{float:left;width:80%;}
	.gt8-6-1,.box>.gt8-6-1{float:left;width:16.6666666666666%;}
	.gt8-6-5,.box>.gt8-6-5{float:left;width:83.3333333333333%;}
	.gt8-7-1,.box>.gt8-7-1{float:left;width:14.2857142857142%;}
	.gt8-7-2,.box>.gt8-7-2{float:left;width:28.5714285714285%;}
	.gt8-7-3,.box>.gt8-7-3{float:left;width:42.8571428571428%;}
	.gt8-7-4,.box>.gt8-7-4{float:left;width:57.1428571428571%;}
	.gt8-7-5,.box>.gt8-7-5{float:left;width:71.4285714285714%;}
	.gt8-7-6,.box>.gt8-7-6{float:left;width:85.7142857142857%;}
	.gt8-8-1,.box>.gt8-8-1{float:left;width:12.5%;}
	.gt8-8-3,.box>.gt8-8-3{float:left;width:37.5%;}
	.gt8-8-5,.box>.gt8-8-5{float:left;width:62.5%;}
	.gt8-8-7,.box>.gt8-8-7{float:left;width:87.5%;}
	.gt8-9-1,.box>.gt8-9-1{float:left;width:11.1111111111111%;}
	.gt8-9-2,.box>.gt8-9-2{float:left;width:22.2222222222222%;}
	.gt8-9-4,.box>.gt8-9-4{float:left;width:44.4444444444444%;}
	.gt8-9-5,.box>.gt8-9-5{float:left;width:55.5555555555555%;}
	.gt8-9-7,.box>.gt8-9-7{float:left;width:77.7777777777777%;}
	.gt8-9-8,.box>.gt8-9-8{float:left;width:88.8888888888888%;}
	.gt8-10-1,.box>.gt8-10-1{float:left;width:10%;}
	.gt8-10-3,.box>.gt8-10-3{float:left;width:30%;}
	.gt8-10-7,.box>.gt8-10-7{float:left;width:70%;}
	.gt8-10-9,.box>.gt8-10-9{float:left;width:90%;}
	.gt8-12-1,.box>.gt8-12-1{float:left;width:8.33333333333333%;}
	.gt8-12-5,.box>.gt8-12-5{float:left;width:41.6666666666666%;}
	.gt8-12-7,.box>.gt8-12-7{float:left;width:58.3333333333333%;}
	.gt8-12-11,.box>.gt8-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:900px){
	.hide9{display:none;}
	
	.gt9-1box>.box{float:left;width:100%;}
	.gt9-2box>.box{float:left;width:50%;}
	.gt9-3box>.box{float:left;width:33.3333333333333%;}
	.gt9-4box>.box{float:left;width:25%;}
	.gt9-5box>.box{float:left;width:20%;}
	.gt9-6box>.box{float:left;width:16.6666666666666%;}
	.gt9-7box>.box{float:left;width:14.2857142857142%;}
	.gt9-8box>.box{float:left;width:12.5%;}
	.gt9-9box>.box{float:left;width:11.1111111111111%;}
	.gt9-10box>.box{float:left;width:10%;}
	.gt9-12box>.box{float:left;width:8.33333333333333%;}
	.gt9-14box>.box{float:left;width:7.14285714285714%;}
	.gt9-16box>.box{float:left;width:6.25%;}
	.gt9-18box>.box{float:left;width:5.55555555555555%;}
	
	.gt-1,.box>.gt-1,.gt--8,.box>.gt--8{float:left;width:11.1111111111111%;}
	.gt-2,.box>.gt-2,.gt--7,.box>.gt--7{float:left;width:22.2222222222222%;}
	.gt-3,.box>.gt-3,.gt--6,.box>.gt--6{float:left;width:33.3333333333333%;}
	.gt-4,.box>.gt-4,.gt--5,.box>.gt--5{float:left;width:44.4444444444444%;}
	.gt-5,.box>.gt-5,.gt--4,.box>.gt--4{float:left;width:55.5555555555555%;}
	.gt-6,.box>.gt-6,.gt--3,.box>.gt--3{float:left;width:66.6666666666666%;}
	.gt-7,.box>.gt-7,.gt--2,.box>.gt--2{float:left;width:77.7777777777777%;}
	.gt-8,.box>.gt-8,.gt--1,.box>.gt--1{float:left;width:88.8888888888888%;}
	.gt-9,.box>.gt-9,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt9-1-1,.box>.gt9-1-1{float:left;width:100%;}
	.gt9-2-1,.box>.gt9-2-1{float:left;width:50%;}
	.gt9-3-1,.box>.gt9-3-1{float:left;width:33.3333333333333%;}
	.gt9-3-2,.box>.gt9-3-2{float:left;width:66.6666666666666%;}
	.gt9-4-1,.box>.gt9-4-1{float:left;width:25%;}
	.gt9-4-3,.box>.gt9-4-3{float:left;width:75%;}
	.gt9-5-1,.box>.gt9-5-1{float:left;width:20%;}
	.gt9-5-2,.box>.gt9-5-2{float:left;width:40%;}
	.gt9-5-3,.box>.gt9-5-3{float:left;width:60%;}
	.gt9-5-4,.box>.gt9-5-4{float:left;width:80%;}
	.gt9-6-1,.box>.gt9-6-1{float:left;width:16.6666666666666%;}
	.gt9-6-5,.box>.gt9-6-5{float:left;width:83.3333333333333%;}
	.gt9-7-1,.box>.gt9-7-1{float:left;width:14.2857142857142%;}
	.gt9-7-2,.box>.gt9-7-2{float:left;width:28.5714285714285%;}
	.gt9-7-3,.box>.gt9-7-3{float:left;width:42.8571428571428%;}
	.gt9-7-4,.box>.gt9-7-4{float:left;width:57.1428571428571%;}
	.gt9-7-5,.box>.gt9-7-5{float:left;width:71.4285714285714%;}
	.gt9-7-6,.box>.gt9-7-6{float:left;width:85.7142857142857%;}
	.gt9-8-1,.box>.gt9-8-1{float:left;width:12.5%;}
	.gt9-8-3,.box>.gt9-8-3{float:left;width:37.5%;}
	.gt9-8-5,.box>.gt9-8-5{float:left;width:62.5%;}
	.gt9-8-7,.box>.gt9-8-7{float:left;width:87.5%;}
	.gt9-9-1,.box>.gt9-9-1{float:left;width:11.1111111111111%;}
	.gt9-9-2,.box>.gt9-9-2{float:left;width:22.2222222222222%;}
	.gt9-9-4,.box>.gt9-9-4{float:left;width:44.4444444444444%;}
	.gt9-9-5,.box>.gt9-9-5{float:left;width:55.5555555555555%;}
	.gt9-9-7,.box>.gt9-9-7{float:left;width:77.7777777777777%;}
	.gt9-9-8,.box>.gt9-9-8{float:left;width:88.8888888888888%;}
	.gt9-10-1,.box>.gt9-10-1{float:left;width:10%;}
	.gt9-10-3,.box>.gt9-10-3{float:left;width:30%;}
	.gt9-10-7,.box>.gt9-10-7{float:left;width:70%;}
	.gt9-10-9,.box>.gt9-10-9{float:left;width:90%;}
	.gt9-12-1,.box>.gt9-12-1{float:left;width:8.33333333333333%;}
	.gt9-12-5,.box>.gt9-12-5{float:left;width:41.6666666666666%;}
	.gt9-12-7,.box>.gt9-12-7{float:left;width:58.3333333333333%;}
	.gt9-12-11,.box>.gt9-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1000px){
	.hide10{display:none;}
	
	.gt10-1box>.box{float:left;width:100%;}
	.gt10-2box>.box{float:left;width:50%;}
	.gt10-3box>.box{float:left;width:33.3333333333333%;}
	.gt10-4box>.box{float:left;width:25%;}
	.gt10-5box>.box{float:left;width:20%;}
	.gt10-6box>.box{float:left;width:16.6666666666666%;}
	.gt10-7box>.box{float:left;width:14.2857142857142%;}
	.gt10-8box>.box{float:left;width:12.5%;}
	.gt10-9box>.box{float:left;width:11.1111111111111%;}
	.gt10-10box>.box{float:left;width:10%;}
	.gt10-12box>.box{float:left;width:8.33333333333333%;}
	.gt10-14box>.box{float:left;width:7.14285714285714%;}
	.gt10-16box>.box{float:left;width:6.25%;}
	.gt10-18box>.box{float:left;width:5.55555555555555%;}
	.gt10-20box>.box{float:left;width:5%;}
	
	.gt-1,.box>.gt-1,.gt--9,.box>.gt--9{float:left;width:10%;}
	.gt-2,.box>.gt-2,.gt--8,.box>.gt--8{float:left;width:20%;}
	.gt-3,.box>.gt-3,.gt--7,.box>.gt--7{float:left;width:30%;}
	.gt-4,.box>.gt-4,.gt--6,.box>.gt--6{float:left;width:40%;}
	.gt-5,.box>.gt-5,.gt--5,.box>.gt--5{float:left;width:50%;}
	.gt-6,.box>.gt-6,.gt--4,.box>.gt--4{float:left;width:60%;}
	.gt-7,.box>.gt-7,.gt--3,.box>.gt--3{float:left;width:70%;}
	.gt-8,.box>.gt-8,.gt--2,.box>.gt--2{float:left;width:80%;}
	.gt-9,.box>.gt-9,.gt--1,.box>.gt--1{float:left;width:90%;}
	.gt-10,.box>.gt-10,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt10-1-1,.box>.gt10-1-1{float:left;width:100%;}
	.gt10-2-1,.box>.gt10-2-1{float:left;width:50%;}
	.gt10-3-1,.box>.gt10-3-1{float:left;width:33.3333333333333%;}
	.gt10-3-2,.box>.gt10-3-2{float:left;width:66.6666666666666%;}
	.gt10-4-1,.box>.gt10-4-1{float:left;width:25%;}
	.gt10-4-3,.box>.gt10-4-3{float:left;width:75%;}
	.gt10-5-1,.box>.gt10-5-1{float:left;width:20%;}
	.gt10-5-2,.box>.gt10-5-2{float:left;width:40%;}
	.gt10-5-3,.box>.gt10-5-3{float:left;width:60%;}
	.gt10-5-4,.box>.gt10-5-4{float:left;width:80%;}
	.gt10-6-1,.box>.gt10-6-1{float:left;width:16.6666666666666%;}
	.gt10-6-5,.box>.gt10-6-5{float:left;width:83.3333333333333%;}
	.gt10-7-1,.box>.gt10-7-1{float:left;width:14.2857142857142%;}
	.gt10-7-2,.box>.gt10-7-2{float:left;width:28.5714285714285%;}
	.gt10-7-3,.box>.gt10-7-3{float:left;width:42.8571428571428%;}
	.gt10-7-4,.box>.gt10-7-4{float:left;width:57.1428571428571%;}
	.gt10-7-5,.box>.gt10-7-5{float:left;width:71.4285714285714%;}
	.gt10-7-6,.box>.gt10-7-6{float:left;width:85.7142857142857%;}
	.gt10-8-1,.box>.gt10-8-1{float:left;width:12.5%;}
	.gt10-8-3,.box>.gt10-8-3{float:left;width:37.5%;}
	.gt10-8-5,.box>.gt10-8-5{float:left;width:62.5%;}
	.gt10-8-7,.box>.gt10-8-7{float:left;width:87.5%;}
	.gt10-9-1,.box>.gt10-9-1{float:left;width:11.1111111111111%;}
	.gt10-9-2,.box>.gt10-9-2{float:left;width:22.2222222222222%;}
	.gt10-9-4,.box>.gt10-9-4{float:left;width:44.4444444444444%;}
	.gt10-9-5,.box>.gt10-9-5{float:left;width:55.5555555555555%;}
	.gt10-9-7,.box>.gt10-9-7{float:left;width:77.7777777777777%;}
	.gt10-9-8,.box>.gt10-9-8{float:left;width:88.8888888888888%;}
	.gt10-10-1,.box>.gt10-10-1{float:left;width:10%;}
	.gt10-10-3,.box>.gt10-10-3{float:left;width:30%;}
	.gt10-10-7,.box>.gt10-10-7{float:left;width:70%;}
	.gt10-10-9,.box>.gt10-10-9{float:left;width:90%;}
	.gt10-12-1,.box>.gt10-12-1{float:left;width:8.33333333333333%;}
	.gt10-12-5,.box>.gt10-12-5{float:left;width:41.6666666666666%;}
	.gt10-12-7,.box>.gt10-12-7{float:left;width:58.3333333333333%;}
	.gt10-12-11,.box>.gt10-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1100px){.hide11{display:none;}}
@media (min-width:1200px){
	.hide12{display:none;}
	
	.gt12-1box>.box{float:left;width:100%;}
	.gt12-2box>.box{float:left;width:50%;}
	.gt12-3box>.box{float:left;width:33.3333333333333%;}
	.gt12-4box>.box{float:left;width:25%;}
	.gt12-5box>.box{float:left;width:20%;}
	.gt12-6box>.box{float:left;width:16.6666666666666%;}
	.gt12-7box>.box{float:left;width:14.2857142857142%;}
	.gt12-8box>.box{float:left;width:12.5%;}
	.gt12-9box>.box{float:left;width:11.1111111111111%;}
	.gt12-10box>.box{float:left;width:10%;}
	.gt12-12box>.box{float:left;width:8.33333333333333%;}
	.gt12-14box>.box{float:left;width:7.14285714285714%;}
	.gt12-16box>.box{float:left;width:6.25%;}
	.gt12-18box>.box{float:left;width:5.55555555555555%;}
	.gt12-20box>.box{float:left;width:5%;}
	.gt12-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--11,.box>.gt--11{float:left;width:8.33333333333333%;}
	.gt-2,.box>.gt-2,.gt--10,.box>.gt--10{float:left;width:16.6666666666666%;}
	.gt-3,.box>.gt-3,.gt--9,.box>.gt--9{float:left;width:25%;}
	.gt-4,.box>.gt-4,.gt--8,.box>.gt--8{float:left;width:33.3333333333333%;}
	.gt-5,.box>.gt-5,.gt--7,.box>.gt--7{float:left;width:41.6666666666666%;}
	.gt-6,.box>.gt-6,.gt--6,.box>.gt--6{float:left;width:50%;}
	.gt-7,.box>.gt-7,.gt--5,.box>.gt--5{float:left;width:58.3333333333333%;}
	.gt-8,.box>.gt-8,.gt--4,.box>.gt--4{float:left;width:66.6666666666666%;}
	.gt-9,.box>.gt-9,.gt--3,.box>.gt--3{float:left;width:75%;}
	.gt-10,.box>.gt-10,.gt--2,.box>.gt--2{float:left;width:83.3333333333333%;}
	.gt-11,.box>.gt-11,.gt--1,.box>.gt--1{float:left;width:91.6666666666666%;}
	.gt-12,.box>.gt-12,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt12-1-1,.box>.gt12-1-1{float:left;width:100%;}
	.gt12-2-1,.box>.gt12-2-1{float:left;width:50%;}
	.gt12-3-1,.box>.gt12-3-1{float:left;width:33.3333333333333%;}
	.gt12-3-2,.box>.gt12-3-2{float:left;width:66.6666666666666%;}
	.gt12-4-1,.box>.gt12-4-1{float:left;width:25%;}
	.gt12-4-3,.box>.gt12-4-3{float:left;width:75%;}
	.gt12-5-1,.box>.gt12-5-1{float:left;width:20%;}
	.gt12-5-2,.box>.gt12-5-2{float:left;width:40%;}
	.gt12-5-3,.box>.gt12-5-3{float:left;width:60%;}
	.gt12-5-4,.box>.gt12-5-4{float:left;width:80%;}
	.gt12-6-1,.box>.gt12-6-1{float:left;width:16.6666666666666%;}
	.gt12-6-5,.box>.gt12-6-5{float:left;width:83.3333333333333%;}
	.gt12-7-1,.box>.gt12-7-1{float:left;width:14.2857142857142%;}
	.gt12-7-2,.box>.gt12-7-2{float:left;width:28.5714285714285%;}
	.gt12-7-3,.box>.gt12-7-3{float:left;width:42.8571428571428%;}
	.gt12-7-4,.box>.gt12-7-4{float:left;width:57.1428571428571%;}
	.gt12-7-5,.box>.gt12-7-5{float:left;width:71.4285714285714%;}
	.gt12-7-6,.box>.gt12-7-6{float:left;width:85.7142857142857%;}
	.gt12-8-1,.box>.gt12-8-1{float:left;width:12.5%;}
	.gt12-8-3,.box>.gt12-8-3{float:left;width:37.5%;}
	.gt12-8-5,.box>.gt12-8-5{float:left;width:62.5%;}
	.gt12-8-7,.box>.gt12-8-7{float:left;width:87.5%;}
	.gt12-9-1,.box>.gt12-9-1{float:left;width:11.1111111111111%;}
	.gt12-9-2,.box>.gt12-9-2{float:left;width:22.2222222222222%;}
	.gt12-9-4,.box>.gt12-9-4{float:left;width:44.4444444444444%;}
	.gt12-9-5,.box>.gt12-9-5{float:left;width:55.5555555555555%;}
	.gt12-9-7,.box>.gt12-9-7{float:left;width:77.7777777777777%;}
	.gt12-9-8,.box>.gt12-9-8{float:left;width:88.8888888888888%;}
	.gt12-10-1,.box>.gt12-10-1{float:left;width:10%;}
	.gt12-10-3,.box>.gt12-10-3{float:left;width:30%;}
	.gt12-10-7,.box>.gt12-10-7{float:left;width:70%;}
	.gt12-10-9,.box>.gt12-10-9{float:left;width:90%;}
	.gt12-12-1,.box>.gt12-12-1{float:left;width:8.33333333333333%;}
	.gt12-12-5,.box>.gt12-12-5{float:left;width:41.6666666666666%;}
	.gt12-12-7,.box>.gt12-12-7{float:left;width:58.3333333333333%;}
	.gt12-12-11,.box>.gt12-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1300px){.hide13{display:none;}}
@media (min-width:1400px){
	.hide14{display:none;}
	
	.gt14-1box>.box{float:left;width:100%;}
	.gt14-2box>.box{float:left;width:50%;}
	.gt14-3box>.box{float:left;width:33.3333333333333%;}
	.gt14-4box>.box{float:left;width:25%;}
	.gt14-5box>.box{float:left;width:20%;}
	.gt14-6box>.box{float:left;width:16.6666666666666%;}
	.gt14-7box>.box{float:left;width:14.2857142857142%;}
	.gt14-8box>.box{float:left;width:12.5%;}
	.gt14-9box>.box{float:left;width:11.1111111111111%;}
	.gt14-10box>.box{float:left;width:10%;}
	.gt14-12box>.box{float:left;width:8.33333333333333%;}
	.gt14-14box>.box{float:left;width:7.14285714285714%;}
	.gt14-16box>.box{float:left;width:6.25%;}
	.gt14-18box>.box{float:left;width:5.55555555555555%;}
	.gt14-20box>.box{float:left;width:5%;}
	.gt14-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--13,.box>.gt--13{float:left;width:7.14285714285714%;}
	.gt-2,.box>.gt-2,.gt--12,.box>.gt--12{float:left;width:14.2857142857142%;}
	.gt-3,.box>.gt-3,.gt--11,.box>.gt--11{float:left;width:21.4285714285714%;}
	.gt-4,.box>.gt-4,.gt--10,.box>.gt--10{float:left;width:28.5714285714285%;}
	.gt-5,.box>.gt-5,.gt--9,.box>.gt--9{float:left;width:35.7142857142857%;}
	.gt-6,.box>.gt-6,.gt--8,.box>.gt--8{float:left;width:42.8571428571428%;}
	.gt-7,.box>.gt-7,.gt--7,.box>.gt--7{float:left;width:50%;}
	.gt-8,.box>.gt-8,.gt--6,.box>.gt--6{float:left;width:57.1428571428571%;}
	.gt-9,.box>.gt-9,.gt--5,.box>.gt--5{float:left;width:64.2857142857142%;}
	.gt-10,.box>.gt-10,.gt--4,.box>.gt--4{float:left;width:71.4285714285714%;}
	.gt-11,.box>.gt-11,.gt--3,.box>.gt--3{float:left;width:78.5714285714285%;}
	.gt-12,.box>.gt-12,.gt--2,.box>.gt--2{float:left;width:85.7142857142857%;}
	.gt-13,.box>.gt-13,.gt--1,.box>.gt--1{float:left;width:92.8571428571428%;}
	.gt-14,.box>.gt-14,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt14-1-1,.box>.gt14-1-1{float:left;width:100%;}
	.gt14-2-1,.box>.gt14-2-1{float:left;width:50%;}
	.gt14-3-1,.box>.gt14-3-1{float:left;width:33.3333333333333%;}
	.gt14-3-2,.box>.gt14-3-2{float:left;width:66.6666666666666%;}
	.gt14-4-1,.box>.gt14-4-1{float:left;width:25%;}
	.gt14-4-3,.box>.gt14-4-3{float:left;width:75%;}
	.gt14-5-1,.box>.gt14-5-1{float:left;width:20%;}
	.gt14-5-2,.box>.gt14-5-2{float:left;width:40%;}
	.gt14-5-3,.box>.gt14-5-3{float:left;width:60%;}
	.gt14-5-4,.box>.gt14-5-4{float:left;width:80%;}
	.gt14-6-1,.box>.gt14-6-1{float:left;width:16.6666666666666%;}
	.gt14-6-5,.box>.gt14-6-5{float:left;width:83.3333333333333%;}
	.gt14-7-1,.box>.gt14-7-1{float:left;width:14.2857142857142%;}
	.gt14-7-2,.box>.gt14-7-2{float:left;width:28.5714285714285%;}
	.gt14-7-3,.box>.gt14-7-3{float:left;width:42.8571428571428%;}
	.gt14-7-4,.box>.gt14-7-4{float:left;width:57.1428571428571%;}
	.gt14-7-5,.box>.gt14-7-5{float:left;width:71.4285714285714%;}
	.gt14-7-6,.box>.gt14-7-6{float:left;width:85.7142857142857%;}
	.gt14-8-1,.box>.gt14-8-1{float:left;width:12.5%;}
	.gt14-8-3,.box>.gt14-8-3{float:left;width:37.5%;}
	.gt14-8-5,.box>.gt14-8-5{float:left;width:62.5%;}
	.gt14-8-7,.box>.gt14-8-7{float:left;width:87.5%;}
	.gt14-9-1,.box>.gt14-9-1{float:left;width:11.1111111111111%;}
	.gt14-9-2,.box>.gt14-9-2{float:left;width:22.2222222222222%;}
	.gt14-9-4,.box>.gt14-9-4{float:left;width:44.4444444444444%;}
	.gt14-9-5,.box>.gt14-9-5{float:left;width:55.5555555555555%;}
	.gt14-9-7,.box>.gt14-9-7{float:left;width:77.7777777777777%;}
	.gt14-9-8,.box>.gt14-9-8{float:left;width:88.8888888888888%;}
	.gt14-10-1,.box>.gt14-10-1{float:left;width:10%;}
	.gt14-10-3,.box>.gt14-10-3{float:left;width:30%;}
	.gt14-10-7,.box>.gt14-10-7{float:left;width:70%;}
	.gt14-10-9,.box>.gt14-10-9{float:left;width:90%;}
	.gt14-12-1,.box>.gt14-12-1{float:left;width:8.33333333333333%;}
	.gt14-12-5,.box>.gt14-12-5{float:left;width:41.6666666666666%;}
	.gt14-12-7,.box>.gt14-12-7{float:left;width:58.3333333333333%;}
	.gt14-12-11,.box>.gt14-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1500px){.hide15{display:none;}}
@media (min-width:1600px){
	.hide16{display:none;}
	
	.gt16-1box>.box{float:left;width:100%;}
	.gt16-2box>.box{float:left;width:50%;}
	.gt16-3box>.box{float:left;width:33.3333333333333%;}
	.gt16-4box>.box{float:left;width:25%;}
	.gt16-5box>.box{float:left;width:20%;}
	.gt16-6box>.box{float:left;width:16.6666666666666%;}
	.gt16-7box>.box{float:left;width:14.2857142857142%;}
	.gt16-8box>.box{float:left;width:12.5%;}
	.gt16-9box>.box{float:left;width:11.1111111111111%;}
	.gt16-10box>.box{float:left;width:10%;}
	.gt16-12box>.box{float:left;width:8.33333333333333%;}
	.gt16-14box>.box{float:left;width:7.14285714285714%;}
	.gt16-16box>.box{float:left;width:6.25%;}
	.gt16-18box>.box{float:left;width:5.55555555555555%;}
	.gt16-20box>.box{float:left;width:5%;}
	.gt16-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--15,.box>.gt--15{float:left;width:6.25%;}
	.gt-2,.box>.gt-2,.gt--14,.box>.gt--14{float:left;width:12.5%;}
	.gt-3,.box>.gt-3,.gt--13,.box>.gt--13{float:left;width:18.75%;}
	.gt-4,.box>.gt-4,.gt--12,.box>.gt--12{float:left;width:25%;}
	.gt-5,.box>.gt-5,.gt--11,.box>.gt--11{float:left;width:31.25%;}
	.gt-6,.box>.gt-6,.gt--10,.box>.gt--10{float:left;width:37.5%;}
	.gt-7,.box>.gt-7,.gt--9,.box>.gt--9{float:left;width:43.75%;}
	.gt-8,.box>.gt-8,.gt--8,.box>.gt--8{float:left;width:50%;}
	.gt-9,.box>.gt-9,.gt--7,.box>.gt--7{float:left;width:56.25%;}
	.gt-10,.box>.gt-10,.gt--6,.box>.gt--6{float:left;width:62.5%;}
	.gt-11,.box>.gt-11,.gt--5,.box>.gt--5{float:left;width:68.75%;}
	.gt-12,.box>.gt-12,.gt--4,.box>.gt--4{float:left;width:75%;}
	.gt-13,.box>.gt-13,.gt--3,.box>.gt--3{float:left;width:81.25%;}
	.gt-14,.box>.gt-14,.gt--2,.box>.gt--2{float:left;width:87.5%;}
	.gt-15,.box>.gt-15,.gt--1,.box>.gt--1{float:left;width:93.75%;}
	.gt-16,.box>.gt-16,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt16-1-1,.box>.gt16-1-1{float:left;width:100%;}
	.gt16-2-1,.box>.gt16-2-1{float:left;width:50%;}
	.gt16-3-1,.box>.gt16-3-1{float:left;width:33.3333333333333%;}
	.gt16-3-2,.box>.gt16-3-2{float:left;width:66.6666666666666%;}
	.gt16-4-1,.box>.gt16-4-1{float:left;width:25%;}
	.gt16-4-3,.box>.gt16-4-3{float:left;width:75%;}
	.gt16-5-1,.box>.gt16-5-1{float:left;width:20%;}
	.gt16-5-2,.box>.gt16-5-2{float:left;width:40%;}
	.gt16-5-3,.box>.gt16-5-3{float:left;width:60%;}
	.gt16-5-4,.box>.gt16-5-4{float:left;width:80%;}
	.gt16-6-1,.box>.gt16-6-1{float:left;width:16.6666666666666%;}
	.gt16-6-5,.box>.gt16-6-5{float:left;width:83.3333333333333%;}
	.gt16-7-1,.box>.gt16-7-1{float:left;width:14.2857142857142%;}
	.gt16-7-2,.box>.gt16-7-2{float:left;width:28.5714285714285%;}
	.gt16-7-3,.box>.gt16-7-3{float:left;width:42.8571428571428%;}
	.gt16-7-4,.box>.gt16-7-4{float:left;width:57.1428571428571%;}
	.gt16-7-5,.box>.gt16-7-5{float:left;width:71.4285714285714%;}
	.gt16-7-6,.box>.gt16-7-6{float:left;width:85.7142857142857%;}
	.gt16-8-1,.box>.gt16-8-1{float:left;width:12.5%;}
	.gt16-8-3,.box>.gt16-8-3{float:left;width:37.5%;}
	.gt16-8-5,.box>.gt16-8-5{float:left;width:62.5%;}
	.gt16-8-7,.box>.gt16-8-7{float:left;width:87.5%;}
	.gt16-9-1,.box>.gt16-9-1{float:left;width:11.1111111111111%;}
	.gt16-9-2,.box>.gt16-9-2{float:left;width:22.2222222222222%;}
	.gt16-9-4,.box>.gt16-9-4{float:left;width:44.4444444444444%;}
	.gt16-9-5,.box>.gt16-9-5{float:left;width:55.5555555555555%;}
	.gt16-9-7,.box>.gt16-9-7{float:left;width:77.7777777777777%;}
	.gt16-9-8,.box>.gt16-9-8{float:left;width:88.8888888888888%;}
	.gt16-10-1,.box>.gt16-10-1{float:left;width:10%;}
	.gt16-10-3,.box>.gt16-10-3{float:left;width:30%;}
	.gt16-10-7,.box>.gt16-10-7{float:left;width:70%;}
	.gt16-10-9,.box>.gt16-10-9{float:left;width:90%;}
	.gt16-12-1,.box>.gt16-12-1{float:left;width:8.33333333333333%;}
	.gt16-12-5,.box>.gt16-12-5{float:left;width:41.6666666666666%;}
	.gt16-12-7,.box>.gt16-12-7{float:left;width:58.3333333333333%;}
	.gt16-12-11,.box>.gt16-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1700px){.hide17{display:none;}}
@media (min-width:1800px){
	.hide18{display:none;}
	
	.gt18-1box>.box{float:left;width:100%;}
	.gt18-2box>.box{float:left;width:50%;}
	.gt18-3box>.box{float:left;width:33.3333333333333%;}
	.gt18-4box>.box{float:left;width:25%;}
	.gt18-5box>.box{float:left;width:20%;}
	.gt18-6box>.box{float:left;width:16.6666666666666%;}
	.gt18-7box>.box{float:left;width:14.2857142857142%;}
	.gt18-8box>.box{float:left;width:12.5%;}
	.gt18-9box>.box{float:left;width:11.1111111111111%;}
	.gt18-10box>.box{float:left;width:10%;}
	.gt18-12box>.box{float:left;width:8.33333333333333%;}
	.gt18-14box>.box{float:left;width:7.14285714285714%;}
	.gt18-16box>.box{float:left;width:6.25%;}
	.gt18-18box>.box{float:left;width:5.55555555555555%;}
	.gt18-20box>.box{float:left;width:5%;}
	.gt18-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--17,.box>.gt--17{float:left;width:5.55555555555555%;}
	.gt-2,.box>.gt-2,.gt--16,.box>.gt--16{float:left;width:11.1111111111111%;}
	.gt-3,.box>.gt-3,.gt--15,.box>.gt--15{float:left;width:16.6666666666666%;}
	.gt-4,.box>.gt-4,.gt--14,.box>.gt--14{float:left;width:22.2222222222222%;}
	.gt-5,.box>.gt-5,.gt--13,.box>.gt--13{float:left;width:27.7777777777777%;}
	.gt-6,.box>.gt-6,.gt--12,.box>.gt--12{float:left;width:33.3333333333333%;}
	.gt-7,.box>.gt-7,.gt--11,.box>.gt--11{float:left;width:38.8888888888888%;}
	.gt-8,.box>.gt-8,.gt--10,.box>.gt--10{float:left;width:44.4444444444444%;}
	.gt-9,.box>.gt-9,.gt--9,.box>.gt--9{float:left;width:50%;}
	.gt-10,.box>.gt-10,.gt--8,.box>.gt--8{float:left;width:55.5555555555555%;}
	.gt-11,.box>.gt-11,.gt--7,.box>.gt--7{float:left;width:61.1111111111111%;}
	.gt-12,.box>.gt-12,.gt--6,.box>.gt--6{float:left;width:66.6666666666666%;}
	.gt-13,.box>.gt-13,.gt--5,.box>.gt--5{float:left;width:72.2222222222222%;}
	.gt-14,.box>.gt-14,.gt--4,.box>.gt--4{float:left;width:77.7777777777777%;}
	.gt-15,.box>.gt-15,.gt--3,.box>.gt--3{float:left;width:83.3333333333333%;}
	.gt-16,.box>.gt-16,.gt--2,.box>.gt--2{float:left;width:88.8888888888888%;}
	.gt-17,.box>.gt-17,.gt--1,.box>.gt--1{float:left;width:94.4444444444444%;}
	.gt-18,.box>.gt-18,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt18-1-1,.box>.gt18-1-1{float:left;width:100%;}
	.gt18-2-1,.box>.gt18-2-1{float:left;width:50%;}
	.gt18-3-1,.box>.gt18-3-1{float:left;width:33.3333333333333%;}
	.gt18-3-2,.box>.gt18-3-2{float:left;width:66.6666666666666%;}
	.gt18-4-1,.box>.gt18-4-1{float:left;width:25%;}
	.gt18-4-3,.box>.gt18-4-3{float:left;width:75%;}
	.gt18-5-1,.box>.gt18-5-1{float:left;width:20%;}
	.gt18-5-2,.box>.gt18-5-2{float:left;width:40%;}
	.gt18-5-3,.box>.gt18-5-3{float:left;width:60%;}
	.gt18-5-4,.box>.gt18-5-4{float:left;width:80%;}
	.gt18-6-1,.box>.gt18-6-1{float:left;width:16.6666666666666%;}
	.gt18-6-5,.box>.gt18-6-5{float:left;width:83.3333333333333%;}
	.gt18-7-1,.box>.gt18-7-1{float:left;width:14.2857142857142%;}
	.gt18-7-2,.box>.gt18-7-2{float:left;width:28.5714285714285%;}
	.gt18-7-3,.box>.gt18-7-3{float:left;width:42.8571428571428%;}
	.gt18-7-4,.box>.gt18-7-4{float:left;width:57.1428571428571%;}
	.gt18-7-5,.box>.gt18-7-5{float:left;width:71.4285714285714%;}
	.gt18-7-6,.box>.gt18-7-6{float:left;width:85.7142857142857%;}
	.gt18-8-1,.box>.gt18-8-1{float:left;width:12.5%;}
	.gt18-8-3,.box>.gt18-8-3{float:left;width:37.5%;}
	.gt18-8-5,.box>.gt18-8-5{float:left;width:62.5%;}
	.gt18-8-7,.box>.gt18-8-7{float:left;width:87.5%;}
	.gt18-9-1,.box>.gt18-9-1{float:left;width:11.1111111111111%;}
	.gt18-9-2,.box>.gt18-9-2{float:left;width:22.2222222222222%;}
	.gt18-9-4,.box>.gt18-9-4{float:left;width:44.4444444444444%;}
	.gt18-9-5,.box>.gt18-9-5{float:left;width:55.5555555555555%;}
	.gt18-9-7,.box>.gt18-9-7{float:left;width:77.7777777777777%;}
	.gt18-9-8,.box>.gt18-9-8{float:left;width:88.8888888888888%;}
	.gt18-10-1,.box>.gt18-10-1{float:left;width:10%;}
	.gt18-10-3,.box>.gt18-10-3{float:left;width:30%;}
	.gt18-10-7,.box>.gt18-10-7{float:left;width:70%;}
	.gt18-10-9,.box>.gt18-10-9{float:left;width:90%;}
	.gt18-12-1,.box>.gt18-12-1{float:left;width:8.33333333333333%;}
	.gt18-12-5,.box>.gt18-12-5{float:left;width:41.6666666666666%;}
	.gt18-12-7,.box>.gt18-12-7{float:left;width:58.3333333333333%;}
	.gt18-12-11,.box>.gt18-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:1900px){.hide19{display:none;}}
@media (min-width:2000px){
	.hide20{display:none;}
	
	.gt20-1box>.box{float:left;width:100%;}
	.gt20-2box>.box{float:left;width:50%;}
	.gt20-3box>.box{float:left;width:33.3333333333333%;}
	.gt20-4box>.box{float:left;width:25%;}
	.gt20-5box>.box{float:left;width:20%;}
	.gt20-6box>.box{float:left;width:16.6666666666666%;}
	.gt20-7box>.box{float:left;width:14.2857142857142%;}
	.gt20-8box>.box{float:left;width:12.5%;}
	.gt20-9box>.box{float:left;width:11.1111111111111%;}
	.gt20-10box>.box{float:left;width:10%;}
	.gt20-12box>.box{float:left;width:8.33333333333333%;}
	.gt20-14box>.box{float:left;width:7.14285714285714%;}
	.gt20-16box>.box{float:left;width:6.25%;}
	.gt20-18box>.box{float:left;width:5.55555555555555%;}
	.gt20-20box>.box{float:left;width:5%;}
	.gt20-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--19,.box>.gt--19{float:left;width:5%;}
	.gt-2,.box>.gt-2,.gt--18,.box>.gt--18{float:left;width:10%;}
	.gt-3,.box>.gt-3,.gt--17,.box>.gt--17{float:left;width:15%;}
	.gt-4,.box>.gt-4,.gt--16,.box>.gt--16{float:left;width:20%;}
	.gt-5,.box>.gt-5,.gt--15,.box>.gt--15{float:left;width:25%;}
	.gt-6,.box>.gt-6,.gt--14,.box>.gt--14{float:left;width:30%;}
	.gt-7,.box>.gt-7,.gt--13,.box>.gt--13{float:left;width:35%;}
	.gt-8,.box>.gt-8,.gt--12,.box>.gt--12{float:left;width:40%;}
	.gt-9,.box>.gt-9,.gt--11,.box>.gt--11{float:left;width:45%;}
	.gt-10,.box>.gt-10,.gt--10,.box>.gt--10{float:left;width:50%;}
	.gt-11,.box>.gt-11,.gt--9,.box>.gt--9{float:left;width:55%;}
	.gt-12,.box>.gt-12,.gt--8,.box>.gt--8{float:left;width:60%;}
	.gt-13,.box>.gt-13,.gt--7,.box>.gt--7{float:left;width:65%;}
	.gt-14,.box>.gt-14,.gt--6,.box>.gt--6{float:left;width:70%;}
	.gt-15,.box>.gt-15,.gt--5,.box>.gt--5{float:left;width:75%;}
	.gt-16,.box>.gt-16,.gt--4,.box>.gt--4{float:left;width:80%;}
	.gt-17,.box>.gt-17,.gt--3,.box>.gt--3{float:left;width:85%;}
	.gt-18,.box>.gt-18,.gt--2,.box>.gt--2{float:left;width:90%;}
	.gt-19,.box>.gt-19,.gt--1,.box>.gt--1{float:left;width:95%;}
	.gt-20,.box>.gt-20,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt20-1-1,.box>.gt20-1-1{float:left;width:100%;}
	.gt20-2-1,.box>.gt20-2-1{float:left;width:50%;}
	.gt20-3-1,.box>.gt20-3-1{float:left;width:33.3333333333333%;}
	.gt20-3-2,.box>.gt20-3-2{float:left;width:66.6666666666666%;}
	.gt20-4-1,.box>.gt20-4-1{float:left;width:25%;}
	.gt20-4-3,.box>.gt20-4-3{float:left;width:75%;}
	.gt20-5-1,.box>.gt20-5-1{float:left;width:20%;}
	.gt20-5-2,.box>.gt20-5-2{float:left;width:40%;}
	.gt20-5-3,.box>.gt20-5-3{float:left;width:60%;}
	.gt20-5-4,.box>.gt20-5-4{float:left;width:80%;}
	.gt20-6-1,.box>.gt20-6-1{float:left;width:16.6666666666666%;}
	.gt20-6-5,.box>.gt20-6-5{float:left;width:83.3333333333333%;}
	.gt20-7-1,.box>.gt20-7-1{float:left;width:14.2857142857142%;}
	.gt20-7-2,.box>.gt20-7-2{float:left;width:28.5714285714285%;}
	.gt20-7-3,.box>.gt20-7-3{float:left;width:42.8571428571428%;}
	.gt20-7-4,.box>.gt20-7-4{float:left;width:57.1428571428571%;}
	.gt20-7-5,.box>.gt20-7-5{float:left;width:71.4285714285714%;}
	.gt20-7-6,.box>.gt20-7-6{float:left;width:85.7142857142857%;}
	.gt20-8-1,.box>.gt20-8-1{float:left;width:12.5%;}
	.gt20-8-3,.box>.gt20-8-3{float:left;width:37.5%;}
	.gt20-8-5,.box>.gt20-8-5{float:left;width:62.5%;}
	.gt20-8-7,.box>.gt20-8-7{float:left;width:87.5%;}
	.gt20-9-1,.box>.gt20-9-1{float:left;width:11.1111111111111%;}
	.gt20-9-2,.box>.gt20-9-2{float:left;width:22.2222222222222%;}
	.gt20-9-4,.box>.gt20-9-4{float:left;width:44.4444444444444%;}
	.gt20-9-5,.box>.gt20-9-5{float:left;width:55.5555555555555%;}
	.gt20-9-7,.box>.gt20-9-7{float:left;width:77.7777777777777%;}
	.gt20-9-8,.box>.gt20-9-8{float:left;width:88.8888888888888%;}
	.gt20-10-1,.box>.gt20-10-1{float:left;width:10%;}
	.gt20-10-3,.box>.gt20-10-3{float:left;width:30%;}
	.gt20-10-7,.box>.gt20-10-7{float:left;width:70%;}
	.gt20-10-9,.box>.gt20-10-9{float:left;width:90%;}
	.gt20-12-1,.box>.gt20-12-1{float:left;width:8.33333333333333%;}
	.gt20-12-5,.box>.gt20-12-5{float:left;width:41.6666666666666%;}
	.gt20-12-7,.box>.gt20-12-7{float:left;width:58.3333333333333%;}
	.gt20-12-11,.box>.gt20-12-11{float:left;width:91.6666666666666%;}
}
@media (min-width:2100px){.hide21{display:none;}}
@media (min-width:2200px){.hide22{display:none;}}
@media (min-width:2300px){.hide23{display:none;}}
@media (min-width:2400px){
	.hide24{display:none;}
	
	.gt24-1box>.box{float:left;width:100%;}
	.gt24-2box>.box{float:left;width:50%;}
	.gt24-3box>.box{float:left;width:33.3333333333333%;}
	.gt24-4box>.box{float:left;width:25%;}
	.gt24-5box>.box{float:left;width:20%;}
	.gt24-6box>.box{float:left;width:16.6666666666666%;}
	.gt24-7box>.box{float:left;width:14.2857142857142%;}
	.gt24-8box>.box{float:left;width:12.5%;}
	.gt24-9box>.box{float:left;width:11.1111111111111%;}
	.gt24-10box>.box{float:left;width:10%;}
	.gt24-12box>.box{float:left;width:8.33333333333333%;}
	.gt24-14box>.box{float:left;width:7.14285714285714%;}
	.gt24-16box>.box{float:left;width:6.25%;}
	.gt24-18box>.box{float:left;width:5.55555555555555%;}
	.gt24-20box>.box{float:left;width:5%;}
	.gt24-24box>.box{float:left;width:4.16666666666666%;}
	
	.gt-1,.box>.gt-1,.gt--23,.box>.gt--23{float:left;width:4.16666666666666%;}
	.gt-2,.box>.gt-2,.gt--22,.box>.gt--22{float:left;width:8.33333333333333%;}
	.gt-3,.box>.gt-3,.gt--21,.box>.gt--21{float:left;width:12.5%;}
	.gt-4,.box>.gt-4,.gt--20,.box>.gt--20{float:left;width:16.6666666666666%;}
	.gt-5,.box>.gt-5,.gt--19,.box>.gt--19{float:left;width:20.8333333333333%;}
	.gt-6,.box>.gt-6,.gt--18,.box>.gt--18{float:left;width:25%;}
	.gt-7,.box>.gt-7,.gt--17,.box>.gt--17{float:left;width:29.1666666666666%;}
	.gt-8,.box>.gt-8,.gt--16,.box>.gt--16{float:left;width:33.3333333333333%;}
	.gt-9,.box>.gt-9,.gt--15,.box>.gt--15{float:left;width:37.5%;}
	.gt-10,.box>.gt-10,.gt--14,.box>.gt--14{float:left;width:41.6666666666666%;}
	.gt-11,.box>.gt-11,.gt--13,.box>.gt--13{float:left;width:45.8333333333333%;}
	.gt-12,.box>.gt-12,.gt--12,.box>.gt--12{float:left;width:50%;}
	.gt-13,.box>.gt-13,.gt--11,.box>.gt--11{float:left;width:54.1666666666666%;}
	.gt-14,.box>.gt-14,.gt--10,.box>.gt--10{float:left;width:58.3333333333333%;}
	.gt-15,.box>.gt-15,.gt--9,.box>.gt--9{float:left;width:62.5%;}
	.gt-16,.box>.gt-16,.gt--8,.box>.gt--8{float:left;width:66.6666666666666%;}
	.gt-17,.box>.gt-17,.gt--7,.box>.gt--7{float:left;width:70.8333333333333%;}
	.gt-18,.box>.gt-18,.gt--6,.box>.gt--6{float:left;width:75%;}
	.gt-19,.box>.gt-19,.gt--5,.box>.gt--5{float:left;width:79.1666666666666%;}
	.gt-20,.box>.gt-20,.gt--4,.box>.gt--4{float:left;width:83.3333333333333%;}
	.gt-21,.box>.gt-21,.gt--3,.box>.gt--3{float:left;width:87.5%;}
	.gt-22,.box>.gt-22,.gt--2,.box>.gt--2{float:left;width:91.6666666666666%;}
	.gt-23,.box>.gt-23,.gt--1,.box>.gt--1{float:left;width:95.8333333333333%;}
	.gt-24,.box>.gt-24,.gt--0,.box>.gt--0{float:left;width:100%;}
	
	.gt24-1-1,.box>.gt24-1-1{float:left;width:100%;}
	.gt24-2-1,.box>.gt24-2-1{float:left;width:50%;}
	.gt24-3-1,.box>.gt24-3-1{float:left;width:33.3333333333333%;}
	.gt24-3-2,.box>.gt24-3-2{float:left;width:66.6666666666666%;}
	.gt24-4-1,.box>.gt24-4-1{float:left;width:25%;}
	.gt24-4-3,.box>.gt24-4-3{float:left;width:75%;}
	.gt24-5-1,.box>.gt24-5-1{float:left;width:20%;}
	.gt24-5-2,.box>.gt24-5-2{float:left;width:40%;}
	.gt24-5-3,.box>.gt24-5-3{float:left;width:60%;}
	.gt24-5-4,.box>.gt24-5-4{float:left;width:80%;}
	.gt24-6-1,.box>.gt24-6-1{float:left;width:16.6666666666666%;}
	.gt24-6-5,.box>.gt24-6-5{float:left;width:83.3333333333333%;}
	.gt24-7-1,.box>.gt24-7-1{float:left;width:14.2857142857142%;}
	.gt24-7-2,.box>.gt24-7-2{float:left;width:28.5714285714285%;}
	.gt24-7-3,.box>.gt24-7-3{float:left;width:42.8571428571428%;}
	.gt24-7-4,.box>.gt24-7-4{float:left;width:57.1428571428571%;}
	.gt24-7-5,.box>.gt24-7-5{float:left;width:71.4285714285714%;}
	.gt24-7-6,.box>.gt24-7-6{float:left;width:85.7142857142857%;}
	.gt24-8-1,.box>.gt24-8-1{float:left;width:12.5%;}
	.gt24-8-3,.box>.gt24-8-3{float:left;width:37.5%;}
	.gt24-8-5,.box>.gt24-8-5{float:left;width:62.5%;}
	.gt24-8-7,.box>.gt24-8-7{float:left;width:87.5%;}
	.gt24-9-1,.box>.gt24-9-1{float:left;width:11.1111111111111%;}
	.gt24-9-2,.box>.gt24-9-2{float:left;width:22.2222222222222%;}
	.gt24-9-4,.box>.gt24-9-4{float:left;width:44.4444444444444%;}
	.gt24-9-5,.box>.gt24-9-5{float:left;width:55.5555555555555%;}
	.gt24-9-7,.box>.gt24-9-7{float:left;width:77.7777777777777%;}
	.gt24-9-8,.box>.gt24-9-8{float:left;width:88.8888888888888%;}
	.gt24-10-1,.box>.gt24-10-1{float:left;width:10%;}
	.gt24-10-3,.box>.gt24-10-3{float:left;width:30%;}
	.gt24-10-7,.box>.gt24-10-7{float:left;width:70%;}
	.gt24-10-9,.box>.gt24-10-9{float:left;width:90%;}
	.gt24-12-1,.box>.gt24-12-1{float:left;width:8.33333333333333%;}
	.gt24-12-5,.box>.gt24-12-5{float:left;width:41.6666666666666%;}
	.gt24-12-7,.box>.gt24-12-7{float:left;width:58.3333333333333%;}
	.gt24-12-11,.box>.gt24-12-11{float:left;width:91.6666666666666%;}
}

@media (min-width:2500px){.hide25{display:none;}}
@media (min-width:2600px){.hide26{display:none;}}
@media (min-width:2700px){.hide27{display:none;}}
@media (min-width:2800px){.hide28{display:none;}}
@media (min-width:2900px){.hide29{display:none;}}
@media (min-width:3000px){.hide30{display:none;}}

@media (max-width:299px){.show3{display:none;}}
@media (max-width:399px){.show4{display:none;}}
@media (max-width:499px){.show5{display:none;}}
@media (max-width:599px){.show6{display:none;}}
@media (max-width:699px){.show7{display:none;}}
@media (max-width:799px){.show8{display:none;}}
@media (max-width:899px){.show9{display:none;}}
@media (max-width:999px){.show10{display:none;}}
@media (max-width:1099px){.show11{display:none;}}
@media (max-width:1199px){.show12{display:none;}}
@media (max-width:1299px){.show13{display:none;}}
@media (max-width:1399px){.show14{display:none;}}
@media (max-width:1499px){.show15{display:none;}}
@media (max-width:1599px){.show16{display:none;}}
@media (max-width:1699px){.show17{display:none;}}
@media (max-width:1799px){.show18{display:none;}}
@media (max-width:1899px){.show19{display:none;}}
@media (max-width:1999px){.show20{display:none;}}
@media (max-width:2099px){.show21{display:none;}}
@media (max-width:2199px){.show22{display:none;}}
@media (max-width:2299px){.show23{display:none;}}
@media (max-width:2399px){.show24{display:none;}}
@media (max-width:2499px){.show25{display:none;}}
@media (max-width:2599px){.show26{display:none;}}
@media (max-width:2699px){.show27{display:none;}}
@media (max-width:2799px){.show28{display:none;}}
@media (max-width:2899px){.show29{display:none;}}
@media (max-width:2999px){.show30{display:none;}}
